@model IEnumerable<ModelClasses.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h2>
    @ViewBag.WithdrawalError
    
</h2>
<div>
     @Html.Partial("../Shared/DisplayChecking.cshtml", Model)    
</div>
<div>
    @Html.Partial("../Shared/DisplayBusiness.cshtml", Model)
</div>
<div>
    @Html.Partial("../Shared/DisplayLoans.cshtml", Model)
</div>
<div>
    @Html.Partial("../Shared/DisplayTermDeposits.cshtml", Model)
    <h3>
        All Accounts
    </h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountTypeAsString)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Balance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InterestRate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountTypeAsString)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InterestRate)
                    </td>
                    <td>
                        @if (item.AccountTypeAsString == "Business" || item.AccountTypeAsString == "Checking")
                        {
                            <a asp-action="Deposit" asp-controller="Account" asp-route-id="@item.ID">Make a Deposit |</a>
                            <a asp-action="Withdraw" asp-controller="Account" asp-route-id="@item.ID">Make a Withdraw | </a>
                            <a asp-action="MakeATransfer" asp-controller="Account" asp-route-id="@item.ID">Make a Transfer | </a>
                            <a asp-action="ListOfTransactions" asp-controller="Account" asp-route-id="@item.ID">List of Transactions | </a>
                            <a asp-action="Delete" asp-controller="Account" asp-route-id="@item.ID">Close Account</a>
                        }
                        else if (item.AccountTypeAsString == "Loan")
                        {
                            <a asp-action="Deposit" asp-controller="Account" asp-route-id="@item.ID">Make a Payment |</a>
                            <a asp-action="ListOfTransactions" asp-controller="Account" asp-route-id="@item.ID">Payment History</a>
                        }
                        else if (item.AccountTypeAsString == "Term Deposit")
                        {
                            <a asp-action="Withdraw" asp-controller="Account" asp-route-id="@item.ID">Make a Withdraw | </a>
                            <a asp-action="MakeATransfer" asp-controller="Account" asp-route-id="@item.ID">Make a Transfer | </a>
                            <a asp-action="Delete" asp-controller="Account" asp-route-id="@item.ID">Close Account</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
