@using Microsoft.AspNetCore.Identity
@model IEnumerable<ModelClasses.Models.CheckingAccount>
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td>
                        <a asp-action="Deposit" asp-route-id="@item.ID">Make a Deposit</a> |
                        <a asp-action="Withdraw" asp-route-id="@item.ID">Make a Withdrawal</a> |
                        <a asp-action="ListOfTransactions" asp-route-id="@item.ID">List of Transactions</a> |
                        <a asp-action="Transfer" asp-route-id="@item.ID">Make a Transfer</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
